<!doctype html>
<html lang="en" class="no-js">
<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>Plant Disease Analyzer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='https://use.fontawesome.com/releases/v5.2.0/css/all.css') }}" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.particleground.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/demo.js') }}"></script>
</head>

<body>

<div id="particles">
  <div id="intro">
      <h2 style="font-family: 'Syncopate', sans-serif; font-weight: 10;">Plant Disease Analyzer</h2>
      <form method="post" enctype="multipart/form-data" action="/disease-predict">
        <input type="file" name="file" accept="image/*">
        <br><br>
        <input type="submit" value="Analyze">
      </form>
  </div>
</div>

</body>
</html>
